{
  "rt_files": [
    {
      "rt_path": "./car/gto67_clay_render.rt",
      "output_path": "./car_output/gto67_clay_render.png",
      "threads": 0,
      "width": 1920,
      "height": 1080,
      "trace_max_depth": 20,
      "samples": 5000,
      "environment_map": "./hdrs/studio_light_box.hdr",
      "environment_strength": 3.0,
      "environment_location": null,
      "environment_rotation": null,
      "environment_scale": null,
      "textures": [
      ],
      "shader_texture": [
      ],
      "obj_files": [
        "./car/gto67.obj",
	"./car/gto67_ground_plane.obj"
      ],
      "object_shader": [
        ["front_rim.001", "diffuse"],
        ["seats", "diffuse"],
        ["tyres_Cylinder.003", "diffuse"],
        ["back_rim", "diffuse"],
	["body", "diffuse"],
	["window_rim.001", "diffuse"],
	["window_back", "window"],
	["front_rim", "diffuse"],
	["glass_back_rim", "diffuse"],
	["backlight", "diffuse"],
	["ground", "diffuse"],
	["hood", "diffuse"],
	["window_rim.004", "diffuse"],
	["inner_panel", "diffuse"],
	["rear_view_mirror", "diffuse"],
	["backlight_rim", "diffuse"],
	["window_rim.002", "diffuse"],
	["front_grill", "diffuse"],
	["door_inner", "diffuse"],
	["rim_light", "diffuse"],
	["window", "window"],
	["bonnet", "diffuse"],
	["door", "diffuse"],
	["inner", "diffuse"],
	["wheel_rear_Cylinder.004", "diffuse"],
	["under_body", "diffuse"],
	["back_bumper", "diffuse"],
	["dashboard", "diffuse"],
	["side_view_mirror_stem", "diffuse"],
	["wheel_Cylinder.004", "diffuse"],
	["front_bumper", "diffuse"],
	["rim_side", "diffuse"],
	["window_rim", "diffuse"],
	["light_front", "diffuse"],
	["back_plate", "diffuse"],
	["side_spoiler", "diffuse"],
	["windshield_rim", "diffuse"],
	["steering_wheel_spokes", "diffuse"],
	["back_keys", "diffuse"],
	["inner_body", "diffuse"],
	["tyre_rear_Cylinder.003", "diffuse"],
	["steer_wheel_column", "diffuse"],
	["door_handle", "diffuse"],
	["side_view_mirror", "diffuse"],
	["steering_wheel", "diffuse"],
	["windshield", "window"],
	["window_rim.003", "diffuse"],
	["glass_back", "window"],
	["mud_guard", "diffuse"],
	["front_spoiler", "diffuse"]
      ]
    },
    {
      "rt_path": "./car/gto67.rt",
      "output_path": "./car_output/gto67.png",
      "threads": 0,
      "width": 1920,
      "height": 1080,
      "trace_max_depth": 20,
      "samples": 5000,
      "environment_map": "./hdrs/studio_light_box.hdr",
      "environment_strength": 3.0,
      "environment_location": null,
      "environment_rotation": null,
      "environment_scale": null,
      "textures": [
      ],
      "shader_texture": [
      ],
      "obj_files": [
        "./car/gto67.obj",
	"./car/gto67_ground_plane.obj"
      ],
      "object_shader": [
        [
	  "front_rim.001",
	  "metal_light"
	],
	[
	  "rear_view_mirror",
	  "tyre"
	],
	[
	  "back_keys",
	  "metal_light"
	],
	[
	  "under_body",
	  "black_plastic"
	],
	[
	  "door_handle",
	  "body_paint_black"
	],
	[
	  "backlight_rim",
	  "black_plastic"
	],
	[
	  "side_spoiler",
	  "body_paint_green"
	],
	[
	  "window_back",
	  "window"
	],
	[
	  "back_rim",
	  "black_plastic"
	],
	[
	  "windshield",
	  "window"
	],
	[
	  "front_rim",
	  "black_plastic"
	],
	[
	  "back_bumper",
	  "body_paint_green"
	],
	[
	  "window_rim.003",
	  "black_plastic"
	],
	[
	  "seats",
	  "leather"
	],
	[
	  "ground",
	  "ground"
	],
	[
	  "side_view_mirror_stem",
	  "body_paint_black"
	],
	[
	  "inner_panel",
	  "black_plastic"
	],
	[
	  "front_bumper",
	  "body_paint_green"
	],
	[
	  "windshield_rim",
	  "black_plastic"
	],
	[
	  "window_rim.001",
	  "black_plastic"
	],
	[
	  "front_spoiler",
	  "black_plastic"
	],
	[
	  "tyre_rear_Cylinder.003",
	  "tyre"
	],
	[
	  "steering_wheel_spokes",
	  "black_plastic"
	],
	[
	  "light_front",
	  "light"
	],
	[
	  "steer_wheel_column",
	  "black_plastic"
	],
	[
	  "backlight",
	  "black_plastic"
	],
	[
	  "front_grill",
	  "metal_light"
	],
	[
	  "door_inner",
	  "black_plastic"
	],
	[
	  "window_rim.002",
	  "tyre"
	],
	[
	  "window_rim.004",
	  "black_plastic"
	],
	[
	  "wheel_Cylinder.004",
	  "metal_light"
	],
	[
	  "window",
	  "window"
	],
	[
	  "steering_wheel",
	  "black_plastic"
	],
	[
	  "rim_light",
	  "black_plastic"
	],
	[
	  "rim_side",
	  "black_plastic"
	],
	[
	  "glass_back",
	  "window"
	],
	[
	  "window_rim",
	  "black_plastic"
	],
	[
	  "inner_body",
	  "black_plastic"
	],
	[
	  "mud_guard",
	  "black_plastic"
	],
	[
	  "body",
	  "body_paint_green"
	],
	[
	  "wheel_rear_Cylinder.004",
	  "metal_light"
	],
	[
	  "tyres_Cylinder.003",
	  "tyre"
	],
	[
	  "back_plate",
	  "body_paint_black"
	],
	[
	  "dashboard",
	  "black_plastic"
	],
	[
	  "door",
	  "body_paint_green"
	],
	[
	  "bonnet",
	  "body_paint_black"
	],
	[
	  "hood",
	  "body_paint_black"
	],
	[
	  "glass_back_rim",
	  "black_plastic"
	],
	[
	  "inner",
	  "black_plastic"
	],
	[
	  "side_view_mirror",
	  "body_paint_black"
	]
      ]
    }
  ]
}