{
  "rt_files": [
    {
      "rt_path": "./cornell_box/cornell_box_monkey_glass.rt",
      "output_path": "./cornell_box_output/cornell_box_monkey_glass.png",
      "threads": 0,
      "width": 256,
      "height": 256,
      "trace_max_depth": 50,
      "samples": 100,
      "environment_map": "./hdrs/black_background.hdr",
      "environment_strength": null,
      "environment_location": null,
      "environment_rotation": null,
      "environment_scale": null,
      "textures": [
      ],
      "shader_texture": [
      ],
      "obj_files": [
        "./cornell_box/cornell_box_monkey.obj"
      ],
      "object_shader": [
	[
          "Suzanne",
          "test_material"
        ]
      ]
    }
  ]
}