{
  "rt_files": [
    {
      "rt_path": "./materialball/diffuse.rt",
      "output_path": "./materialball_output/diffuse.png",
      "threads": 0,
      "width": 256,
      "height": 256,
      "trace_max_depth": 10,
      "samples": 100,
      "environment_map": "./hdrs/white_background.hdr",
      "environment_strength": null,
      "environment_location": null,
      "environment_rotation": null,
      "environment_scale": null,
      "textures": [
        "./materialball/materialball_scene_backdrop.png"
      ],
      "shader_texture": [
        [
          "backdrop",
          0
        ]
      ],
      "obj_files": [
        "./materialball/materialball_scene.obj"
      ],
      "object_shader": [
        [
          "backdrop",
          "backdrop"
        ],
	[
          "light",
          "emission"
        ],
	[
          "diffuse_object",
          "diffuse"
        ],
	[
          "material_object",
          "test_material"
        ]
      ]
    },
    {
      "rt_path": "./materialball/glossy.rt",
      "output_path": "./materialball_output/glossy.png",
      "threads": 0,
      "width": 256,
      "height": 256,
      "trace_max_depth": 10,
      "samples": 100,
      "environment_map": "./hdrs/white_background.hdr",
      "environment_strength": null,
      "environment_location": null,
      "environment_rotation": null,
      "environment_scale": null,
      "textures": [
        "./materialball/materialball_scene_backdrop.png"
      ],
      "shader_texture": [
        [
          "backdrop",
          0
        ]
      ],
      "obj_files": [
        "./materialball/materialball_scene.obj"
      ],
      "object_shader": [
        [
          "backdrop",
          "backdrop"
        ],
	[
          "light",
          "emission"
        ],
	[
          "diffuse_object",
          "diffuse"
        ],
	[
          "material_object",
          "test_material"
        ]
      ]
    },
    {
      "rt_path": "./materialball/blinnphong.rt",
      "output_path": "./materialball_output/blinnphong.png",
      "threads": 0,
      "width": 256,
      "height": 256,
      "trace_max_depth": 10,
      "samples": 100,
      "environment_map": "./hdrs/white_background.hdr",
      "environment_strength": null,
      "environment_location": null,
      "environment_rotation": null,
      "environment_scale": null,
      "textures": [
        "./materialball/materialball_scene_backdrop.png"
      ],
      "shader_texture": [
        [
          "backdrop",
          0
        ]
      ],
      "obj_files": [
        "./materialball/materialball_scene.obj"
      ],
      "object_shader": [
        [
          "backdrop",
          "backdrop"
        ],
	[
          "light",
          "emission"
        ],
	[
          "diffuse_object",
          "diffuse"
        ],
	[
          "material_object",
          "test_material"
        ]
      ]
    },
    {
      "rt_path": "./materialball/emissive.rt",
      "output_path": "./materialball_output/emissive.png",
      "threads": 0,
      "width": 256,
      "height": 256,
      "trace_max_depth": 10,
      "samples": 100,
      "environment_map": "./hdrs/white_background.hdr",
      "environment_strength": null,
      "environment_location": null,
      "environment_rotation": null,
      "environment_scale": null,
      "textures": [
        "./materialball/materialball_scene_backdrop.png"
      ],
      "shader_texture": [
        [
          "backdrop",
          0
        ]
      ],
      "obj_files": [
        "./materialball/materialball_scene.obj"
      ],
      "object_shader": [
        [
          "backdrop",
          "backdrop"
        ],
	[
          "light",
          "emission"
        ],
	[
          "diffuse_object",
          "diffuse"
        ],
	[
          "material_object",
          "test_material"
        ]
      ]
    },
    {
      "rt_path": "./materialball/refraction.rt",
      "output_path": "./materialball_output/refraction.png",
      "threads": 0,
      "width": 256,
      "height": 256,
      "trace_max_depth": 10,
      "samples": 100,
      "environment_map": "./hdrs/white_background.hdr",
      "environment_strength": null,
      "environment_location": null,
      "environment_rotation": null,
      "environment_scale": null,
      "textures": [
        "./materialball/materialball_scene_backdrop.png"
      ],
      "shader_texture": [
        [
          "backdrop",
          0
        ]
      ],
      "obj_files": [
        "./materialball/materialball_scene.obj"
      ],
      "object_shader": [
        [
          "backdrop",
          "backdrop"
        ],
	[
          "light",
          "emission"
        ],
	[
          "diffuse_object",
          "diffuse"
        ],
	[
          "material_object",
          "test_material"
        ]
      ]
    },
    {
      "rt_path": "./materialball/glass.rt",
      "output_path": "./materialball_output/glass.png",
      "threads": 0,
      "width": 256,
      "height": 256,
      "trace_max_depth": 10,
      "samples": 100,
      "environment_map": "./hdrs/white_background.hdr",
      "environment_strength": null,
      "environment_location": null,
      "environment_rotation": null,
      "environment_scale": null,
      "textures": [
        "./materialball/materialball_scene_backdrop.png"
      ],
      "shader_texture": [
        [
          "backdrop",
          0
        ]
      ],
      "obj_files": [
        "./materialball/materialball_scene.obj"
      ],
      "object_shader": [
        [
          "backdrop",
          "backdrop"
        ],
	[
          "light",
          "emission"
        ],
	[
          "diffuse_object",
          "diffuse"
        ],
	[
          "material_object",
          "test_material"
        ]
      ]
    }
  ]
}